/*-------------------------
## Shadows
---------------------------*/ 

@mixin box-shadow($params...) {
  @include prefix(box-shadow, #{$params}, webkit moz);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  //Opactity for IE8 down to IE5
  $opacity-for-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-for-ie); 
}