/*-------------------------
## Sizing
---------------------------*/

@mixin size($height, $width: $height ) {
  height: $height;
  width: $width;
}

@mixin max-size($height, $width: $height ) {
  max-height: $height;
  max-width: $width;
}

@mixin min-size($height, $width: $height ) {
  min-height: $height;
  min-width: $width;
}

@mixin box-sizing($box) {
  @include prefix(box-sizing, $box, webkit moz);
}

@mixin border-box {
  @include box-sizing(border-box);
}

@mixin content-box {
  @include box-sizing(content-box);
}
